In [1]:
import pandas

In [3]:
df = pandas.read_csv('/home/digger/Classes/Python/Data_Processing/S05_Starting_Pandas/Data/income_by_state_1984.csv')

In [6]:
df["1984 Euros"] = df["1984"]* 0.88

In [7]:
df.head()

       GEOID   1984  1984 Euros
0  04000US01  17310    15232.80
1  04000US02  32356    28473.28
2  04000US04  21425    18854.00
3  04000US05  15674    13793.12
4  04000US06  25287    22252.56

In [8]:
df["1984 Pounds"] = df["1984"] * 0.64

In [9]:
df.to_csv('/home/digger/Classes/Python/Data_Processing/S05_Starting_Pandas/Data/IncomeByState1984Currency.csv', index = 0)